body {
  padding-top: 65px;
  padding-bottom: 10px;
  background-color: #f8f8f8;
  font-size: 16px;
  font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
}
.links ul
{
  margin-top: 2px;
  margin-bottom: 10px;
  padding-left: 20px;
}
.links li
{
  float:none;
  list-style: none;
  padding: 3px 0px;
}
.panel-body {
  word-wrap: break-word;
}
.container {
  padding-left: 9px;
  padding-right: 9px;
}
.row {
  margin-right: -9px;
  margin-left: -9px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  padding-right: 9px;
  padding-left: 9px;
}
.floatleft {
  float: left;
}
.fun_links{
  margin-bottom: 20px;
}
.fun_links a {
  margin-right: 10px;
  margin-bottom: 10px;
}
#shortUrl{
  font-size: 120%;
  font-weight: bold;
}
.btn-clipboard {
  padding:5px 8px;
  color:#767676;
  cursor:pointer;
  background-color:#fff;
  border:1px solid #e1e1e8;
  border-radius:0 4px 0 4px;
  margin-left: 5px;
}
.btn-clipboard-hover {
  color:#fff;
  background-color:#563d7c;
  border-color:#563d7c
}

.footer {
  text-align: center;
  padding: 30px 0;
  margin-top: 0px;
  border-top: 1px solid #f0f0f0;
  background-color: #f5f5f5;
}
.footer p {
  margin-bottom: 0;
  color: #777;
}
.footer-links {
  margin: 10px 0;
}
.footer-links li {
  display: inline;
  padding: 0 2px;
}
.footer-links li:first-child {
  padding-left: 0;
}
